*.pyc
*.log
node_modules
coverage/
disco/logs
disco/export_deliverables
disco/cantaloupe/*
disco/staticfiles
disco/media/packages
disco/media/build/
disco/uploadedfiles/*
disco/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE