*.pyc
*.log
*.djcache
.DS_Store
CACHE
Procfile
disco/archestemp/
disco/cantaloupe/*
disco/export_deliverables
disco/logs/*
!disco/logs/.gitkeep  
disco/media/build/*
disco/media/packages
disco/media/node_modules
disco/ontologies/*.xml
disco/settings_local.py
disco/staticfiles
disco/uploadedfiles/*
disco/webpack/webpack-stats.json
disco/webpack/webpack-user-config.js
.vscode/
